# Libraries and loading the dataset
In this first part of the examples we provide we will look at how to load in the dataset, and how to do some basic
manipulation of the data. In order to run the code in this notebook you will need to install, besides Jupyter, the
[Pandas](https://pandas.pydata.org/docs/getting_started/index.html#installation) package.

For more info on how to set up the Python environment for these notebooks, see README.md.

## Getting an overview of the data
Whenever you get a dataset you will want to inspect it and see what variables (columns) you have and what these values
look like. One way of doing this is to use the package [Pandas](https://pandas.pydata.org/docs/getting_started/overview.html),
a package that allows for easy manipulation of the data table (or dataframe, as it is called in Pandas).

For a quick overview of Pandas' capabilities, check out [this](https://pandas.pydata.org/docs/user_guide/10min.html#min)
link.

In [1]:
import pandas as pd

data = pd.read_csv(r"../data/owid-covid-data.csv")

# Checking table columns and data points
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83862 entries, 0 to 83861
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               83862 non-null  object
 1   continent                              79805 non-null  object
 2   location                               83862 non-null  object
 3   date                                   83862 non-null  object
 4   total_cases                            81878 non-null  float64
 5   new_cases                              81876 non-null  float64
 6   new_cases_smoothed                     80875 non-null  float64
 7   total_deaths                           72262 non-null  float64
 8   new_deaths                             72420 non-null  float64
 9   new_deaths_smoothed                    80875 non-null  float64
 10  total_cases_per_million                81435 non-null  float64
 11  new_cases_per_million                  81433 non-null  float64
 12  new_cases_smoothed_per_million         80437 non-null  float64
 13  total_deaths_per_million               71832 non-null  float64
 14  new_deaths_per_million                 71990 non-null  float64
 15  new_deaths_smoothed_per_million        80437 non-null  float64
 16  reproduction_rate                      67668 non-null  float64
 17  icu_patients                           8760 non-null   float64
 18  icu_patients_per_million               8760 non-null   float64
 19  hosp_patients                          10574 non-null  float64
 20  hosp_patients_per_million              10574 non-null  float64
 21  weekly_icu_admissions                  774 non-null    float64
 22  weekly_icu_admissions_per_million      774 non-null    float64
 23  weekly_hosp_admissions                 1273 non-null   float64
 24  weekly_hosp_admissions_per_million     1273 non-null   float64
 25  new_tests                              38228 non-null  float64
 26  total_tests                            37944 non-null  float64
 27  total_tests_per_thousand               37944 non-null  float64
 28  new_tests_per_thousand                 38228 non-null  float64
 29  new_tests_smoothed                     43803 non-null  float64
 30  new_tests_smoothed_per_thousand        43803 non-null  float64
 31  positive_rate                          42065 non-null  float64
 32  tests_per_case                         41472 non-null  float64
 33  tests_units                            45228 non-null  object
 34  total_vaccinations                     8641 non-null   float64
 35  people_vaccinated                      7932 non-null   float64
 36  people_fully_vaccinated                5798 non-null   float64
 37  new_vaccinations                       7318 non-null   float64
 38  new_vaccinations_smoothed              13922 non-null  float64
 39  total_vaccinations_per_hundred         8641 non-null   float64
 40  people_vaccinated_per_hundred          7932 non-null   float64
 41  people_fully_vaccinated_per_hundred    5798 non-null   float64
 42  new_vaccinations_smoothed_per_million  13922 non-null  float64
 43  stringency_index                       71095 non-null  float64
 44  population                             83319 non-null  float64
 45  population_density                     78061 non-null  float64
 46  median_age                             75580 non-null  float64
 47  aged_65_older                          74716 non-null  float64
 48  aged_70_older                          75156 non-null  float64
 49  gdp_per_capita                         75898 non-null  float64
 50  extreme_poverty                        51698 non-null  float64
 51  cardiovasc_death_rate                  76500 non-null  float64
 52  diabetes_prevalence                    77600 non-null  float64
 53  female_smokers                         59953 non-null  float64
 54  male_smokers                           59068 non-null  float64
 55  handwashing_facilities                 38437 non-null  float64
 56  hospital_beds_per_thousand             69828 non-null  float64
 57  life_expectancy                        79585 non-null  float64
 58  human_development_index                76390 non-null  float64
dtypes: float64(54), object(5)
memory usage: 37.7+ MB

In the above output table you can see the indices of the columns (using standard 0-indexing) as well as the human-readable
name and information about what the data in those columns is. For example: at index 0 we find the `iso_index` this is a
shorthand code for countries (see [here](https://www.iso.org/obp/ui/#search/code/)).

We can also see that there are 83862 'non-nullable' rows for that column. This means non-empty cells in that column. Since
dataframes can be sparsely populated, some rows can have empty column values (e.g. a row can miss the value for `new_tests`
but still have other values).

Lastly, we can see the Python data type for that column. Most will either be floating point numbers or unnamed objects -
meaning they contain multiple values within a single data point.

Note that, in this example, we're only loading in a single dataset. We provided several for you to analyse. Please check
the `data` directory for more data files.

## Fixing the date column
We can see that `date` column is not of the `datetime` object type, a commonly used format for timestamps in Python. It
will be useful to use this column as the x-axis for various plots and analyses, but most of those techniques assume that
the timestamps are in the aforementioned `datetime` format.

This means that if we want to use the `date` column effectively, we will have to alter the data type to `datetime`. The
following code block will show you how to do that. It is recommended to do this for your own analysis too!

In [2]:
data['date'] = pd.to_datetime(data['date'], format = '%Y-%m-%d')

Your dataset is now ready for your analysis! You may want to sort your data set by date in order to more intuitively see
changes. You can do so doing:

In [3]:
# Note: `date` is the name of the column being sorted on.
data = data.sort_values('date', ascending=True)

## Taking a look at the dataframe
The next notebook will deal more with the topic of data visualisation and exploring the data set, but for now you can
visualize (part of) your dataframe by using the following commands:

In [4]:
# Show first N (e.g. 10) rows of the dataframe
data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
3009,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
48722,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
48723,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
3010,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
3011,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
48724,MEX,North America,Mexico,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
3012,ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
75171,THA,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.670,2.10,77.15,0.777
48725,MEX,North America,Mexico,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
75172,THA,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.670,2.10,77.15,0.777

In [5]:
# Tail will show the last N results of the dataframe.
data.tail(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
46479,MYS,Asia,Malaysia,2021-04-24,390252.0,2717.0,2484.714,1426.0,11.0,8.000,...,26808.164,0.1,260.942,16.74,1.0,42.4,NaN,1.9,76.16,0.810
41871,LAO,Asia,Laos,2021-04-24,247.0,88.0,27.000,NaN,NaN,0.000,...,6397.360,22.7,368.111,4.00,7.3,51.2,49.839,1.5,67.92,0.613
59539,PRY,South America,Paraguay,2021-04-24,265296.0,2162.0,2418.857,5802.0,87.0,78.714,...,8827.010,1.7,199.128,8.27,5.0,21.6,79.602,1.3,74.25,0.728
3935,ABW,North America,Aruba,2021-04-24,NaN,NaN,NaN,NaN,NaN,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
57045,OWID_OCE,NaN,Oceania,2021-04-24,42985.0,276.0,203.571,1041.0,3.0,3.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75170,TZA,Africa,Tanzania,2021-04-24,509.0,0.0,0.000,21.0,0.0,0.000,...,2683.304,49.1,217.288,5.75,3.3,26.7,47.953,0.7,65.46,0.529
28257,GAB,Africa,Gabon,2021-04-24,22433.0,0.0,82.143,138.0,0.0,0.714,...,16562.413,3.4,259.967,7.20,NaN,NaN,NaN,6.3,66.47,0.703
80366,URY,South America,Uruguay,2021-04-24,182326.0,2789.0,2846.571,2283.0,56.0,62.143,...,20551.409,0.1,160.708,6.93,14.0,19.9,NaN,2.8,77.91,0.817
21298,DJI,Africa,Djibouti,2021-04-24,10746.0,8.0,47.714,132.0,0.0,2.571,...,2705.406,22.5,258.037,6.05,1.7,24.5,NaN,1.4,67.11,0.524
83861,ZWE,Africa,Zimbabwe,2021-04-24,38064.0,19.0,52.143,1556.0,0.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [6]:
# Array slicing also works - this shows rows 40 up to (not including) 45.
data[40:45]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
48734,MEX,North America,Mexico,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
59547,PER,South America,Peru,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,...,12236.706,3.5,85.755,5.95,4.8,NaN,NaN,1.60,76.74,0.777
75180,THA,Asia,Thailand,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.670,2.10,77.15,0.777
3021,ARG,South America,Argentina,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.845
59548,PER,South America,Peru,2020-01-14,NaN,NaN,NaN,NaN,NaN,NaN,...,12236.706,3.5,85.755,5.95,4.8,NaN,NaN,1.60,76.74,0.777